* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    animation: fadeIn 0.1s ease-in-out;
    background-color: #2d323f;
}   

#frame {
    width: 1440px;
    height: 1501px;
    background-color: #FBFAFA;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
    color: #000000;
}


.header {
    align-items: center;
    margin-top: 0;
    display: flex;
    width: 1440px;
    height: 144px;
    background-color: #063970;
}
.header p {
    color: #F0B907;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-left: 0px;
}
.logo {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    margin-left: 34px;
    border-radius: 100%;}
.logo img {
    width: 90px;
    height: 90px;
    border-radius: 100%;}
.garis {
    width: 3px;
    height: 113px;
    background-color: #F0B907;
    margin-left: 25px;
    margin-right: 25px;}

/*bagian mengatur navigasi */
.nav1, .nav2, .nav3, .nav4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 152px;
    height: 52px;
}.nav1 {  
    margin-left: 42px;
    background-color: #ffffff;
}.nav1 p {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}.nav2 {  
    background-color: #615F5F;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 12px;

}.nav2 p {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}.nav3, .nav4 {
    margin-left: 12px;
    background-color: #ffffff;
}.nav3 p, .nav4 p {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}.nama {
    margin-left: 44px;
    justify-content: center;
    text-align: center;
    background-color: #063970;
}.nama p {
    color: #F0B907;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}.header img{
    margin-right: 21px;
    margin-left: auto;
    border-radius: 100%;
    width: 90px;
    height: 90px;
}.nama h2 {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 0;}

    
#tengah {
    width: 1440px;
    align-items: center;
}
.judul{
    margin-top: 68px;
    margin-left: 30px;
    height: 52px;
    width: 630px;

}
.judul h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin-left: auto;
}
.garis2 {
    width: 1367px;
    height: 2px;
    background-color: #AAA8A8;
    margin-left: 0%;
    margin-top: 13px;
    margin-bottom: auto;
}

.materi { 
    width: 1372px;
    height: 880px;
    margin: auto;
    margin-top: 22px;
}
.mat1{
    display: flex;
    justify-content: left;
    width: 1372px;
    height: 168px;
    background-color: #D9D9D9;
    margin-bottom: 10px;
    border-radius: 10px;
}
.birukiri{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 20px;
    height: 168px;
    margin-left: 0%;
    background-color: #063970;
}
.mat{
    width: 1332px;
    height: 168px;
}
.pretelan{
    display: flex;
    width: 374px;
    height: 29px;
    background-color: #D9D9D9;
    margin-top: 9px;
    margin-left: 17px;
    font-family: 'inter', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
.pink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 29px;
    background-color:#B500C9;
    margin-right: 6px;
    border-radius: 5px;
}
.hijau{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 29px;
    background-color:#019125;
    margin-right: 6px;
    border-radius: 5px;
}
.biru{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 29px;
    background-color:#290AB8;
    margin-right: 6px;
    border-radius: 5px;
}
.orange{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 129px;
    height: 29px;
    background-color:#CE7C00;
    margin-right: 6px;
    border-radius: 5px;
}
.bungkus_namatdos{
    width: 1332px;
    height: 130px;
    display: flex;
}
.bungkus_namatdos a{
    display: flex;
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 11px;
}
.namatdos{
    margin-left: 18px;
    margin-top: 0px;
}
.namatdos h1{
    margin-top: 27px;
    font-size: 32px;
    font-family: 'inter',sans-serif;
    font-weight: 600;
}
.namatdos h2{
    margin-top: 5px;
    font-size: 20px;
    font-family: 'inter',sans-serif;
    font-weight: 400;
}
.download{
    display: flex;
    width: 147px;
    height: 40px;
    margin-right: 25px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 11px;
    background-color: #027BFF;
    font-family: 'inter',sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.birukanan{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20px;
    height: 168px;
    margin-left: auto;
    margin-right: 0%;
    background-color: #063970;
}


.footer {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    width: 1440px;
    height: 160px;
    margin-top: 98px;
    background-color: #063970;
}
.f1{
    margin-right: 141px;
}

.footer p{
   
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.sosmed{
    background-color: #063970;
    display: flex;
    margin-left: 141px;
}
.ig, .x, .f, .yt, .tt{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 51px;
    margin-left: 0px;
    margin-top:0px ;
    margin-right: auto;
}
.kopi{
    background-color: #011D3B;
    width: 1440px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kopi p{
    margin: 0;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}